body > header {
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
  align-items: center;
  background-color: #006aeb;
  background-image: url("https://www.transparenttextures.com/patterns/knitted-sweater.png");
  font-size: 30px;
  height: 520px;
  width: 100%;
  padding-top: 120px;
}

@media only screen and (min-width: 1024px) {

  body > header {
    
    width: 80vw;
    margin-top: 200px;
    margin-left: 25px;
    margin-right: 5px;
  
    
  }
  
}