nav {
  display: flex;
  justify-content: space-between; 
  align-content: flex-end;
  box-sizing: border-box;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  position: fixed;
}

.title {
  font-family: Bungee;
  font-size: 2em;
}

.write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
}

.arrow {
  color: red;
  font-family: "Sans Serif";
  animation: upDown 3s ease infinite;
  position: absolute;
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(150%);
  }
}