form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

textarea {
  display: flex;
  justify-content: center; 
  background: transparent;
  border: none;
  outline: none;
  height: 40px;
  border-bottom: 3px solid #545149;
}

form button {
  font-family: Bungee;
  background-color: #4056A1;
  color: #FFFFFF;
  margin-top: 10px
}

form button:hover {
  font-family: Bungee;
  color: #4056A1;
  background-color: #FFFFFF;
}

.counter {
  display: flex;
  justify-content: flex-end;
  font-family: Bungee;
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.negative {
  color: red;
}

.error {
  display: none;
  color: red;
  border: 3px solid red;
  margin-top: 30px;
  
}

@media only screen and (min-width: 1024px) {

  form {
    padding: 2vw;
    width: 100%;
    margin-top: 20px;
  }

  .error {
    display: none;
    float: right;
    width: 80%;
    color: red;
    border: 3px solid red;
    padding: 0.5em;
    margin-top: 50px;
    margin-right: 5vw;
  }
  
}